<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de clientes</h5>
      
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crea Cliente</button>
        </div>
        <div *ngIf="clientes?.length==0" class="alert alert-info">
            No hay registros en la base de datos!!!
        </div>
        <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>EMAIL</th>
                    <th>FECHA</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let cliente of clientes">
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido | uppercase}}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.createAt }}</td> <!-- date:"EEEE dd, MMMM yyyy" para formatear la fecha desde la vista-->
                    <td>
                     
                        <button type="button" name="editar" [routerLink]="['/clientes/form',cliente.id]" class="btn btn-primary">editar</button>
                    &nbsp;
                        <button type="button" name="eliminar" (click)="delete(cliente)" class="btn btn-danger">Eliminar</button>
                    
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
  </div>
